<mat-toolbar color="primary">
    <mat-toolbar-row>
        {{role.nombre}}
        {{user.nombreCompleto}}
        <span class="spacer"></span>
        <a (click)="logout()">Cerrar sesión</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="(role.idRol == 1 && inscripciones.length < 3) || (role.idRole == 2 && asignaturas.length < 2)">
    <mat-card-header>
        Seleccione una materia
    </mat-card-header>
    <mat-card-content [formGroup]="programaForm">
        <table mat-table [dataSource]="programas">
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre del programa</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="Materias">
                <th mat-header-cell *matHeaderCellDef>Materias</th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-select formControlName="idMateria">
                        <mat-option value="">Seleccione una materia</mat-option>
                        <mat-option *ngFor="let materia of element.materias" [value]="materia.idMateria" (click)="chooseMateria(materia, element)">{{materia.nombre}}</mat-option>
                    </mat-select>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTablaProgramas"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnasTablaProgramas"></tr>
        </table>
    </mat-card-content>
</mat-card>
<!-- Estudiante sin materias por escoger -->
<mat-card *ngIf="user.IdPrograma != null && (role.IdRol == 1 && inscripciones.length < 3)">
    <mat-card-header>
        Materias disponibles
    </mat-card-header>
</mat-card>
<!-- Profesor sin materias por escoger -->
<mat-card *ngIf="user.IdPrograma != null && (role.IdRol == 2 && asignaturas.length < 3)">
    <mat-card-header>
        Materias disponibles
    </mat-card-header>
</mat-card>